/*
 * Copyright (c) Hunan Goke,Chengdu Goke,Shandong Goke. 2021. All rights reserved.
 */

/dts-v1/;
#include "gk7205v200.dtsi"

/ {
	model = "Uniview IPC023LM04M";
	compatible = "uniview,ipc023lm04m",
	    "goke,gk7205v200";

	memory {
		device_type = "memory";
		reg = <0x40000000 0x20000000>;
	};
};

&uart0 {
	status = "okay";
};

&uart1 {
	status = "okay";
};

&uart2 {
	status = "okay";
};

&i2c_bus0 {
	status = "okay";
	clock-frequency = <100000>;
};

&i2c_bus1 {
	status = "okay";
	clock-frequency = <100000>;
};

&i2c_bus2 {
	status = "okay";
	clock-frequency = <100000>;
};

&spi_bus0{
	status = "okay";
	num-cs = <1>;

	spidev@0 {
		compatible = "rohm,dh2228fv";
		reg = <0>;
		pl022,interface = <0>;
		pl022,com-mode = <0>;
		spi-max-frequency = <50000000>;
	};
};

&spi_bus1{
	status = "disabled";
	num-cs = <2>;

	spidev@0 {
		compatible = "rohm,dh2228fv";
		reg = <0>;
		pl022,interface = <0>;
		pl022,com-mode = <0>;
		spi-max-frequency = <50000000>;
	};
	spidev@1 {
		compatible = "rohm,dh2228fv";
		reg = <1>;
		pl022,interface = <0>;
		pl022,com-mode = <0>;
		spi-max-frequency = <50000000>;
	};
};

&dual_timer0 {
	status = "okay";
};

&mdio0 {
	goke,phy-reset-delays-us = <10000 20000 150000>;
	phy0: ethernet-phy@1 {
		reg = <1>;
	};
};

&femac {
	mac-address = [00 00 00 00 00 00];
	phy-mode = "mii";
	phy-handle = <&phy0>;
	status = "okay";
};

&sfc {
	sfc {
		compatible = "jedec,spi-nor";
		reg = <0>;
		spi-max-frequency = <160000000>;
	};
};

&snfc {
	nand {
		compatible = "jedec,spi-nand";
		reg = <0>;
		spi-max-frequency = <160000000>;
	};
};

&mmc0 {
	status = "okay";
};

&mmc1 {
	status = "okay";
};

&gpio_chip0 {
	status = "okay";
	gpio-line-names = "GPIO0_0", "UART0_RXD", "UART0_TXD", "PWM0", "PWM1";
};

&gpio_chip1 {
	status = "okay";
	gpio-line-names =
		"LSADC_CH0", "LSADC_CH1",
		"JTAG_TRSTN", "JTAG_TCK", "JTAG_TMS", "JTAG_TDO";
};

&gpio_chip2 {
	status = "okay";
	gpio-line-names = "JTAG_TD1";
};

&gpio_chip4 {
	status = "okay";
	gpio-line-names =
		"SDIO0_CCLK_OUT", "SDIO0_CCMD",
		"SDIO0_CDATA0", "SDIO0_CDATA1", "SDIO0_CDATA2", "SDIO0_CDATA3",
		"SDIO0_CARD_DETECT";
};

&gpio_chip5 {
	status = "okay";
	gpio-line-names =
		"ETH_LINK_STA_LED", "ETH_LINK_ACT_LED",
		"SENSOR_CLK", "SENSOR_RSTN",
		"I2C0_SDA", "I2C0_SCL";
};

&gpio_chip6 {
	status = "okay";
	gpio-line-names =
		"I2C2_SDA", "I2C2_SCL",
		"LCD_DATA0", "LCD_DATA1", "LCD_DATA2", "LCD_DATA3";
};

&gpio_chip7 {
	status = "okay";
	gpio-line-names = "LCD_DATA4", "ircut_pin2", "LCD_DATA6", "LCD_DATA7";
};

&gpio_chip8 {
	status = "okay";
	gpio-line-names = "LCD_DE", "ircut_pin1", "LCD_VS", "LCD_CLK";
};

